#containerCard, #containerIllustration {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1013' height='1013' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23005092'/%3E%3Cstop offset='1' stop-color='%23007cc4'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23868686'/%3E%3Cstop offset='0.09' stop-color='%23ababab'/%3E%3Cstop offset='0.18' stop-color='%23c4c4c4'/%3E%3Cstop offset='0.31' stop-color='%23d7d7d7'/%3E%3Cstop offset='0.44' stop-color='%23e5e5e5'/%3E%3Cstop offset='0.59' stop-color='%23f1f1f1'/%3E%3Cstop offset='0.75' stop-color='%23f9f9f9'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='0.22' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top left;
  scrollbar: 0;
}

#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

#containerLogo {
  width: 100px;
}

.menu {
  color: #311199;
}

#menu-active {
  color: #5FC8D4;
}

.menu, #menu-active {
  font-size: 0.8rem;
}
@media (min-width: 1024px) {
  .menu, #menu-active {
    font-size: 1.2rem;
  }
}

#logo {
  width: 100px;
}

.Logo {
  width: 110px;
}
@media (min-width: 768px) {
  .Logo {
    width: 150px;
  }
}
@media (min-width: 1024px) {
  .Logo {
    width: 400px;
  }
}

.animeLogo {
  display: none;
}

.animeNavbar {
  background-color: white;
  border-bottom: 1px solid #f1f1f1;
}

#nameEntreprise {
  text-align: center;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  #nameEntreprise {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  #nameEntreprise {
    font-size: 3rem;
    margin-top: 100px;
  }
}

.nameS {
  color: #311199;
}

.nameF {
  color: rgb(255, 135, 92);
}

#illustrationFormation {
  width: 200px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  #illustrationFormation {
    width: 350px;
  }
}
@media (min-width: 1024px) {
  #illustrationFormation {
    width: 450px;
  }
}
@media (min-width: 1280px) {
  #illustrationFormation {
    width: 640px;
  }
}

#paratopLeft {
  color: rgb(255, 135, 92);
  margin-top: 50px;
  text-align: center;
}
@media (min-width: 1024px) {
  #paratopLeft {
    text-align: start;
    margin-left: 15%;
  }
}

#parabottomRight {
  color: white;
  text-align: center;
}
@media (min-width: 768px) {
  #parabottomRight {
    color: #311199;
  }
}
@media (min-width: 1024px) {
  #parabottomRight {
    text-align: end;
    margin-right: 15%;
  }
}

#paratopLeft, #parabottomRight {
  font-size: 0.6rem;
}
@media (min-width: 768px) {
  #paratopLeft, #parabottomRight {
    font-size: 0.9rem;
  }
}
@media (min-width: 1024px) {
  #paratopLeft, #parabottomRight {
    font-size: 1.1rem;
  }
}
@media (min-width: 1500px) {
  #paratopLeft, #parabottomRight {
    font-size: 1.5rem;
  }
}

#containerCard {
  flex-direction: column;
}
@media (min-width: 768px) {
  #containerCard {
    flex-direction: row;
  }
}

.card {
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-title {
  text-align: center;
  color: rgb(255, 135, 92);
}

.small {
  font-size: 0.8rem;
  color: #311199;
  margin-top: 15px;
}

.big {
  font-size: 1.5rem;
  color: #311199;
}
@media (min-width: 768px) {
  .big {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .big {
    font-size: 1.5rem;
  }
}

#containerQualiopi {
  display: flex;
  align-items: center;
}

#titleQualiopi {
  color: rgb(255, 135, 92);
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  #titleQualiopi {
    font-size: 1.2rem;
  }
}

#logoQualiopi {
  width: 100px;
}

@media (min-width: 1024px) {
  #certification {
    display: flex;
  }
}

#textQualiopi {
  margin-top: 5px;
}

#descriptionQualiopi, #solutionFormationQualiopi {
  margin: 5px;
  font-size: 0.8rem;
  color: white;
}
@media (min-width: 768px) {
  #descriptionQualiopi, #solutionFormationQualiopi {
    color: black;
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  #descriptionQualiopi {
    width: 50%;
    height: 200px;
    border-right: 1px double rgb(255, 135, 92);
  }
}

@media (min-width: 1024px) {
  #solutionFormationQualiopi {
    width: 50%;
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (min-width: 1280px) {
  #containerHandicapLogo {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}

#containerHandicap {
  margin-top: 100px;
}

#titleHandicap {
  font-size: 0.9rem;
  text-align: center;
  color: rgb(255, 135, 92);
}
@media (min-width: 768px) {
  #titleHandicap {
    font-size: 1.2rem;
  }
}

#textHandicap {
  color: white;
  font-size: 0.8rem;
  margin: 20px;
}
@media (min-width: 768px) {
  #textHandicap {
    font-size: 1rem;
    color: black;
  }
}
@media (min-width: 1280px) {
  #textHandicap {
    text-align: center;
  }
}

#containerLogoHandicap, .logoHandicap {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

#containerLogoHandicap {
  margin-bottom: 100px;
}

#containerCounters {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  #containerCounters {
    flex-direction: row;
    justify-content: center;
  }
}

.containerCounter {
  background-color: rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 110px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  margin: 20px;
}
@media (min-width: 768px) {
  .containerCounter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
  }
}
@media (min-width: 1024px) {
  .containerCounter {
    height: 200px;
    width: 400px;
  }
}

.counter {
  color: rgb(255, 0, 128);
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .counter {
    font-size: 2rem;
  }
}

.textCounter {
  font-size: 0.7rem;
  color: white;
}
@media (min-width: 768px) {
  .textCounter {
    font-size: 0.9rem;
  }
}
@media (min-width: 1024px) {
  .textCounter {
    font-size: 0.8rem;
    color: black;
  }
}

#containerChoiceFormation, #containerForms {
  margin-top: 100px;
}

@media (min-width: 1280px) {
  #cF {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

#titleChoiceFormation {
  color: rgb(255, 135, 92);
  text-align: center;
}

#subTitleChoiceFormation {
  background-color: rgb(255, 135, 92);
  color: white;
  text-align: center;
}

.textChoiceFormation {
  color: #311199;
}

#subTitleForm {
  color: rgb(255, 135, 92);
  text-align: center;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  #subTitleForm {
    font-size: 1.3rem;
    margin-top: 100px;
  }
}

#titleForm {
  color: red;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  #titleForm {
    font-size: 1.3rem;
  }
}

.icon, .textForm {
  margin-left: 5px;
}

.icon {
  color: rgb(255, 135, 92);
}

.textForm {
  font-size: 0.8rem;
  color: white;
}
@media (min-width: 768px) {
  .textForm {
    font-size: 1.2rem;
    color: black;
  }
}

#containerImageForm {
  margin-top: 20px;
}

.LQ {
  margin-left: 50px;
  margin-right: 10px;
}

#boxInput {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (min-width: 1280px) {
  #boxInput {
    width: 500px;
  }
}

form > input, textarea {
  width: 90%;
  margin-bottom: 10px;
  height: 50px;
  border-radius: 10px;
  border: 1px none;
  background: rgba(107, 127, 176, 0.3);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1280px) {
  form {
    margin-top: 50px;
  }
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: white;
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

input::placeholder, textarea::placeholder {
  color: white;
  opacity: 1;
}

textarea {
  height: 200px;
}

#btnForm {
  width: 90%;
}

#containerSignature {
  float: right;
}

#signature {
  color: rgba(156, 154, 43, 0.933);
  font-family: destroy;
  font-size: 0.8rem;
}

#copyright {
  font-family: destroy;
  font-size: 0.5rem;
}

#containers-presentation {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
@media (min-width: 768px) {
  #containers-presentation {
    justify-content: space-around;
  }
}
@media (min-width: 1280px) {
  #containers-presentation {
    justify-content: center;
    margin-top: 200px;
  }
}

#container-presentation {
  width: 250px;
  margin: 10px;
}
@media (min-width: 1024px) {
  #container-presentation {
    width: 400px;
  }
}

#img-presentation {
  border-radius: 30px;
}

.para-presentation {
  font-size: 0.5rem;
  color: rgb(255, 135, 92);
}
@media (min-width: 768px) {
  .para-presentation {
    font-size: 0.8rem;
  }
}
@media (min-width: 1280px) {
  .para-presentation {
    font-size: 1.2rem;
  }
}

#title-presentation {
  font-size: 1.2rem;
  color: #311199;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #title-presentation {
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  #title-presentation {
    font-size: 3rem;
  }
}

#title-presentation, .para-presentation {
  text-align: center;
  margin: 5px;
}

@media (min-width: 1280px) {
  #container-article {
    display: flex;
    align-items: center;
  }
}

#container-title-article {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  #container-title-article {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  #title-article {
    font-size: 1.5rem;
  }
}

.crochets {
  color: rgb(255, 135, 92);
}

.para {
  margin: 20px;
  text-align: justify;
}
@media (min-width: 768px) {
  .para {
    font-size: 1.2rem;
  }
}

@media (min-width: 1280px) {
  .pRight {
    margin-top: 50px;
  }
}

@media (min-width: 1280px) {
  .para2 {
    display: flex;
    height: 430px;
  }
}

@media (min-width: 1280px) {
  #container-logo-article {
    margin-top: 55px;
  }
}

#container-image {
  display: none;
}
@media (min-width: 1280px) {
  #container-image {
    display: block;
  }
}

@media (min-width: 1280px) {
  #container-image {
    position: relative;
    width: 200px;
    float: right;
    margin: 20px;
  }
}

@media (min-width: 1280px) {
  #image-article {
    position: relative;
    border-radius: 50%;
  }
}

#container-formation-ti {
  display: flex;
  flex-direction: row-reverse;
}
@media (min-width: 1018px) {
  #container-formation-ti {
    justify-content: flex-end;
  }
}

#container-formation-imgworld {
  width: 300px;
  margin-right: 20px;
}
@media (min-width: 768px) {
  #container-formation-imgworld {
    width: 350px;
  }
}
@media (min-width: 1018px) {
  #container-formation-imgworld {
    width: 400px;
  }
}
@media (min-width: 1280px) {
  #container-formation-imgworld {
    width: 600px;
  }
}

#imgWorld {
  border-radius: 50%;
}

#container-formation-para {
  position: relative;
  margin-top: 60px;
  margin-right: -100px;
  height: 200px;
  width: 80%;
  border-radius: 0 30% 30% 0;
  background-color: white;
}
@media (min-width: 768px) {
  #container-formation-para {
    height: 250px;
  }
}
@media (min-width: 1018px) {
  #container-formation-para {
    width: 60%;
    height: 300px;
  }
}
@media (min-width: 1280px) {
  #container-formation-para {
    height: 500px;
  }
}

#formation-title {
  font-size: 0.9rem;
  color: rgb(255, 135, 92);
}
@media (min-width: 768px) {
  #formation-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 1018px) {
  #formation-title {
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  #formation-title {
    font-size: 2.5rem;
  }
}

#formation-para {
  font-size: 0.8rem;
  color: #311199;
}
@media (min-width: 768px) {
  #formation-para {
    font-size: 1.1rem;
  }
}
@media (min-width: 1018px) {
  #formation-para {
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  #formation-para {
    font-size: 2rem;
  }
}

#formation-title, #formation-para {
  margin-top: 30px;
  margin-left: 10px;
}
@media (min-width: 1280px) {
  #formation-title, #formation-para {
    margin-top: 100px;
  }
}

#objectifs-title {
  text-align: center;
  color: #311199;
  margin-top: 50px;
}
@media (min-width: 768px) {
  #objectifs-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 1018px) {
  #objectifs-title {
    font-size: 2rem;
  }
}

#objectifs-para {
  text-align: center;
  color: rgb(255, 135, 92);
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  #objectifs-para {
    font-size: 1.1rem;
  }
}
@media (min-width: 1018px) {
  #objectifs-para {
    font-size: 1.5rem;
  }
}

#container-mockup {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  #container-mockup {
    margin-top: 100px;
  }
}

#mockup-image {
  width: 250px;
  border-radius: 30px;
}
@media (min-width: 768px) {
  #mockup-image {
    width: 300px;
  }
}
@media (min-width: 1018px) {
  #mockup-image {
    width: 400px;
  }
}
@media (min-width: 1280px) {
  #mockup-image {
    width: 500px;
  }
}

#container-mockup-para {
  height: 150px;
  background-color: rgb(255, 135, 92);
  position: relative;
  margin-left: -50px;
  border-radius: 30px;
}
@media (min-width: 667px) {
  #container-mockup-para {
    width: 250px;
  }
}
@media (min-width: 768px) {
  #container-mockup-para {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 1018px) {
  #container-mockup-para {
    width: 400px;
    height: 300px;
  }
}
@media (min-width: 1280px) {
  #container-mockup-para {
    width: 500px;
    height: 400px;
  }
}

#mockup-title {
  font-size: 0.9rem;
  color: #311199;
  text-align: center;
  margin-top: 15px;
}
@media (min-width: 667px) {
  #mockup-title {
    font-size: 1.3rem;
  }
}
@media (min-width: 1018px) {
  #mockup-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  #mockup-title {
    font-size: 1.8rem;
  }
}

#mockup-para {
  font-size: 0.5rem;
  text-align: center;
  margin-top: 20px;
}
@media (min-width: 667px) {
  #mockup-para {
    font-size: 0.9rem;
  }
}
@media (min-width: 1018px) {
  #mockup-para {
    font-size: 1.1rem;
  }
}
@media (min-width: 1280px) {
  #mockup-para {
    font-size: 1.5rem;
  }
}

@media (min-width: 667px) {
  #container-responsable {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  #container-responsable {
    justify-content: space-around;
  }
}

#container-responsable-img {
  margin-top: 100px;
  margin-left: 50px;
  width: 100px;
}
@media (min-width: 667px) {
  #container-responsable-img {
    width: 250px;
  }
}
@media (min-width: 1018px) {
  #container-responsable-img {
    width: 350px;
  }
}
@media (min-width: 1280px) {
  #container-responsable-img {
    width: 450px;
  }
}

@media (min-width: 1280px) {
  #container-responsable-para {
    margin-right: 200px;
  }
}

#responsable-img {
  border-radius: 30px;
}

#responsable-title {
  color: #311199;
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  #responsable-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 1018px) {
  #responsable-title {
    font-size: 2rem;
  }
}
@media (min-width: 1080px) {
  #responsable-title {
    font-size: 2.3rem;
  }
}

#responsable-para {
  color: rgb(255, 135, 92);
  font-size: 0.8rem;
}
@media (min-width: 667px) {
  #responsable-para {
    margin-left: 25px;
  }
}
@media (min-width: 768px) {
  #responsable-para {
    font-size: 1.1rem;
  }
}
@media (min-width: 1018px) {
  #responsable-para {
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  #responsable-para {
    font-size: 1.8rem;
  }
}

#responsable-title, #responsable-para {
  text-align: center;
}

#select-formation-title {
  margin-top: 100px;
  color: rgb(255, 135, 92);
  text-align: center;
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  #select-formation-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 1018px) {
  #select-formation-title {
    font-size: 2rem;
  }
}

.select-formation-para {
  text-align: center;
  font-size: 0.9;
}
@media (min-width: 768px) {
  .select-formation-para {
    font-size: 1.3rem;
  }
}
@media (min-width: 1018px) {
  .select-formation-para {
    font-size: 1.5rem;
  }
}

.container-select-formation {
  display: flex;
}

.sf-para1 {
  margin-top: 50px;
  color: #311199;
}

.sf-para2 {
  color: rgb(255, 135, 92);
}

.select-formation-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 300px;
  border-radius: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .select-formation-card {
    width: 400px;
  }
}

.select-formation-para1 {
  color: rgb(255, 0, 128);
}

.select-formation-para2 {
  color: white;
}

.sfpara1 {
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .sfpara1 {
    font-size: 1.3rem;
  }
}

.sfpara2 {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .sfpara2 {
    font-size: 2rem;
  }
}

.select-formation-para1, .select-formation-para2 {
  text-align: center;
}

.container-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .container-button {
    justify-content: space-evenly;
  }
}

#container-objectif {
  margin-top: 100px;
}
@media (min-width: 1018px) {
  #container-objectif {
    display: flex;
  }
}

@media (min-width: 1280px) {
  .sfcard1 {
    margin-right: 0;
  }
}

@media (min-width: 1280px) {
  .sfcard2 {
    margin-left: 0;
  }
}

@media (min-width: 1280px) {
  .sfmiddlecard {
    margin-right: 0;
  }
}

@media (min-width: 1280px) {
  .sfcard3 {
    margin-left: 0;
  }
}

.objectif-card {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .objectif-card {
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.objectif-st {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.objectif-svg {
  color: rgb(255, 135, 92);
}
@media (min-width: 768px) {
  .objectif-svg {
    font-size: 30px;
  }
}

.objectif-title {
  color: #311199;
}

.objectif-para {
  text-align: justify;
  padding: 10px;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .objectif-para {
    font-size: 1.1rem;
  }
}

@media (min-width: 1280px) {
  .cfContact {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.modal-content {
  background-color: #090909;
}

.titleSignature {
  text-align: center;
  color: rgba(156, 154, 43, 0.933);
  font-family: destroy;
  font-size: 2em;
}

.subTitleSignature {
  text-align: center;
  color: white;
  font-family: destroy;
  font-size: 0.8em;
}

.facebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: #3cf;
}

.instagram:hover {
  color: #bd38a0;
}

.social-btns {
  padding: 3px;
  text-align: center;
}

.facebook, .twitter, .instagram {
  margin: 5px;
  color: rgba(156, 154, 43, 0.933);
}

#containerButtonClose {
  display: flex;
  justify-content: center;
}

#buttonClose {
  width: 100px;
  color: rgba(156, 154, 43, 0.933);
}/*# sourceMappingURL=style.css.map */